.Regular12 {
    font-size: 12px;
    line-height: 16px;
}
.Regular14 {
    font-size: 14px;
    line-height: 20px;
}
.Regular16 {
    font-size: 16px;
    line-height: 24px;
}

.Medium12{
    font-size: 12px;
    line-height: 16px;
}
.Medium14{
    font-size: 14px;
    line-height: 20px;
}
.Medium16{
    font-size: 16px;
    line-height: 24px;
}
.SemiBold20{
    font-size: 20px;
    line-height: 28px;
}
.SemiBold16{
    font-size: 16px;
    line-height: 24px;
}


.Bold24{
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
}

.Bold16{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
}


.ExtraBold22{
    font-size: 22px;
    line-height: 32px;
    font-weight: bold;
}

.ExtraBold18{
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.Header22 {
    font-size: 22px;
    line-height: 32px;
}








